@r:50rem;

a,
input,
button {
    /*清除点击阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
    /*清除按钮的圆角*/
  -webkit-appearance: none;
  border-radius: 0;
}
body {
    /*选中文字设置*/
  margin: 0;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}
html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body * {
    /*文字设置*/
  -webkit-user-select: none;
  font-family: Helvetica;
}
/*清除浮动*/
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
a {
    text-decoration: none;
}