@r: 100rem;
body{
    overflow-x: hidden;
}
.nav{
    height: 100/@r;
    line-height: 100/@r;
    ul{
        height: 100/@r;
        margin: 0;
        li{
            height: 100/@r;
            text-align: center;
            float: left;
            background: gainsboro;
            font-weight: bold;
        }
        .active{
            color: #004FB6;
        }
    }
}
.section_wrap{
    .section{
        text-align: center;
        overflow: hidden;
        float: left;
    }
    .section:nth-child(1){
        background-color: plum;
    }
    .section:nth-child(2){
        overflow: hidden;
        position: relative;
        .section2_nav{
            line-height: 100/@r;
            height: 100/@r;
            ul{
                height: 100/@r;
                margin: 0;
                li{
                    height: 100/@r;
                    text-align: center;
                    float: left;
                    background: gainsboro;
                    font-weight: bold;
                }
                .active{
                    color: #004FB6;
                }
            }
        }
        .section2_wrap{
            .section2_section{
                text-align: center;
                float: left;
                overflow: hidden;
            }
            .section2_section:nth-child(1){
                background-color: aqua;
            }
            .section2_section:nth-child(2){
                background-color: silver;
            }
            .section2_section:nth-child(4){
                background-color: gold; 
            }
            .section2_section:nth-child(3){
                position: relative;
                overflow: hidden;
                .section2_section4_nav{
                    line-height: 100/@r;
                    height: 100/@r;
                    ul{
                        height: 100/@r;
                        margin: 0;
                        li{
                            height: 100/@r;
                            text-align: center;
                            float: left;
                            background: gainsboro;
                            font-weight: bold;
                        }
                        .active{
                            color: #004FB6;
                        }
                    }
                } 
                .section2_section4_wrap{
                    .section2_section4_section{
                        text-align: center;
                        overflow: hidden;
                        float: left;
                    }
                    .section2_section4_section:nth-child(1){
                        background-color: orange;
                    }
                    .section2_section4_section:nth-child(2){
                        background-color: purple;
                    }
                    .section2_section4_section:nth-child(3){
                        background-color: cornflowerblue;
                    }
                    .section2_section4_section:nth-child(4){
                        background-color: forestgreen
                    }
                }
            }
        }
    }
    .section:nth-child(3){
        background-color: brown;
    }
    .section:nth-child(4){
        background-color: greenyellow;
    }
}
